* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: monospace;
    color: #fff;
}

body {
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(135deg, #0f172a, #312e81, #7e22ce, #db2777); */
    background-image: url("../image/final.jpg");
    background-size: cover;
    /* background-position: 100%; */
    background-repeat: no-repeat;
    /* background-size: 400% 400%; */
    /* animation: gradientShift 20s ease infinite; */
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

header h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 5rem;
    /* background-image: url("../image/textColor.png"); */
    /* background-position: 100%; */
    color: #ffffff00;
    /* background-size: cover;
    background-clip: text;
    color: transparent; */
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    animation: animate 5s alternate infinite;
}
@keyframes animate {
    to {
        background-position-x: -100%;
    }
}

.results{
    font-size: 2rem;
}

.combin{
    width: 100%;
    font-size: 2rem;
    text-align: center;
}

.center-main{
    width: 50%;
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.663);
    background-color: rgba(255, 255, 255, 0.14);
}

main .center-main input{
    width: 80%;
    font-size: 2rem;
    margin-top: .5rem;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 1rem;
    color: #fff;
    background-color: #ffffff5e;
}